@font-face {
    font-family: 'Courgette';
    src: url('../fonts/Courgette-regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**
 * GENERAL
**/
body {
    font-family: 'Oswald-Regular', sans-serif;
}
h3, h4 {
    font-family: 'Courgette', sans-serif;
    font-weight: 600;
}
.row {
    margin-top: 1.5em;
}
.flex {
    display: flex;
    flex-direction: row;
}

/**
 * HEADER
**/
header {
    height: 25em;    
    background-size: cover;
    background-position: center center;  
    font-family: 'Courgette', sans-serif;
    color: white;
}
.header-team {    
    background-image: url("../img/team/team.jpg");  
}
.header-post {
    background-image: url("../img/articles/suzette/suzette-header.jpg");
}
.header-recipe {
    background-image: url("../img/recipes/paella/paella-header.jpg");
}
.opacity {
    height: 25em;
    background: rgba(0, 0, 0, 0.8);
}
.opacity-nav {
    background: rgba(0, 0, 0, 0.8);
}
.navbar {
    border-bottom: 1px solid gray;
}
.navbar-toggler_icon{
    border: 1px solid #add8e6;
}
.navbar .navbar-brand {
    font-family: 'Courgette', sans-serif;
}
.navbar a {
    color: white;
}
.logo-title {
    text-align: center;
    margin-top: 3em;
}

/*** POST PAGE ***/
.slogan-suzette {
    background: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;
}

/**
 * MAIN
**/
main h2{
    margin: 1.5em;
    font-weight: bold;
    letter-spacing: .1rem;
}
main a {
    text-decoration: none;
    color: black;
}
main a:hover {
    text-decoration: none;
    color: black;
}

/**
 * TEAM
**/
.team-member {
    text-align: center;
}
.team-member img, .post-author img {
    width: 10em;
    border-radius: 50%;
}

/**
 * TEAM MEMBER PAGE
**/
.img-page-member {
    width: 20em;
    border-radius: 50%;
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
}
p {
    text-align: justify;
}

/**
 * POST PAGE
**/
.post-author {
    margin: 2em 9em;
}
.post-author img {
    margin-right: 2em;
}
.post-form {
    width: 50%;
    margin: 2em auto;
}
.post-avis {
    margin: 5em 0;
}
.post-avis .avis-box {
    margin: 1em 0;
}
.post-avis .avis-box img {
    height: 5em;
    width: 5em;
    margin-right: 2em;
}
.resp-avis{
    margin-left: 7em;
}

/**
 * POST PAGE
**/
.sponsored {
    width: 15em;
}

/**
 * MAIN RIGHT (Recherche, Newsletter, Partager)
**/
label {
    font-family: 'Courgette', sans-serif;
    font-weight: bold;
}
input::placeholder {
    color: rgb(170, 170, 170);
}
.rigth button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: -webkit-fill-available;
    height: 2em;
}
.social-media h6 {
    font-family: 'Courgette', sans-serif;
    font-weight: bold;
}
.logo-social-media a {
    margin-right: 1em;
}

/**
 * FOOTER
**/
footer {
    height: 15em;
    background-color: black;
    color: white;
}
.categories, .archives, .media {
    margin: 3.5em 17em 0 0;
}
.categories a, .archives a, .media a{
    color: white;
    text-decoration: underline;
}
.categories {
    margin-left: 2em;
}
.media {
    display: block;
}
#news-footer-input {
    height: 2em;
    width: 10em;
}
#btn-news-footer {
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.footer-social-media i {
    width: 2em;
    padding: 0.5em;
    background-color: white;
    color: black;
    border-radius: 3px;
    text-align: center;
}


/**************************** RESPONSIVE ****************************/
/**
 * TABLETTE
**/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .logo-title {
        margin-top: 4em;
    }
    .display-none {
        display: none;
    }
    footer {
        height: 40em;
    }
    footer .flex {
        flex-direction: column;
    }
    .categories, .archives, .media {
        margin: 4em 0 0 2em;
    }
    .newsletter-footer .flex {
        display: flex;
        flex-direction: row;
    }
}

/**
 * SMARTPHONE
**/
@media only screen and (min-device-width : 320px) and (max-device-width : 768px){
    .flex {
        display: block;
    }
    .logo-title {
        margin-top: 4em;
    }
    .img-blog {
        width: 100%;
        margin: 0.8em 0;
        text-align: center;
    }
    .display-none {
        display: none;
    }
    footer {
        height: 35em;
    }
    footer .flex {
        flex-direction: column;
    }
    .categories, .archives, .media {
        margin: 2em 0 0 2em;
    }
    .categories {
        padding-top: 2em;
    }
    .newsletter-footer .flex {
        display: flex;
        flex-direction: row;
    }
    /**
     * TEAM MEMBER PAGE
    **/
    .img-page-member {
        width: 10em;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    /**
    * POST PAGE
    **/
    .slogan-suzette {
        margin-top: 2em;
        font-size: 2em;
    }
    .post-author {
        margin: 2em 0;
    }
    .post-author img {
        height: 30%;
        width: 30%;
        margin-right: 1em !important;
    }
    .post-form {
        width: 100%;
    }
    .post-author .flex, .avis-box .flex {
        display: flex;
    }
    .post-avis {
        margin: 2em 0;
    }
    .avis-box img, .resp-avis img {
        margin-right: 1em !important;
        height: 3em;
        width: 3em;
    }
    .resp-avis {
        margin-left: 6em !important;
    }
}